pipeline/SQL_dev_to_prod-bulk_variable.json
{
	"name": "SQL_dev_to_prod-bulk_variable",
	"properties": {
		"description": "dbo.t0_incidencias_remedy\ndbo.t0_peticiones_remedy",
		"activities": [
			{
				"name": "ForEach_qwc",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "array_tablas",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('array_tablas')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy_qwc",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": "IF EXISTS (SELECT * FROM dbo.@{item().destination.table}) TRUNCATE TABLE dbo.@{item().destination.table};",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"validateDataConsistency": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SourceDataset_qwc",
									"type": "DatasetReference",
									"parameters": {
										"cw_table": "@item().source.table"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DestinationDataset_qwc",
									"type": "DatasetReference",
									"parameters": {
										"cw_table": "@item().destination.table"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "array_tablas",
				"type": "AppendVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "array_tablas",
					"value": "[\n{\n\"source\":{\"table\":\"t0_incidencias_remedy\"},\n\"destination\":{\"table\":\"t0_incidencias_remedy\"},\n\"copySink\":{\"preCopyScript\":\"IFEXISTS(SELECT*FROMdbo.t0_incidencias_remedy)TRUNCATETABLEdbo.t0_incidencias_remedy;\"}\n},\n{\n\"source\":{\"table\":\"t0_peticiones_remedy\"},\n\"destination\":{\"table\":\"t0_peticiones_remedy\"},\n\"copySink\":{\"preCopyScript\":\"IFEXISTS(SELECT*FROMdbo.t0_peticiones_remedy)TRUNCATETABLEdbo.t0_peticiones_remedy;\"}\n},\n{\n\"source\":{\"table\":\"t0_coste_cpu_adicional\"},\n\"destination\":{\"table\":\"t0_coste_cpu_adicional\"},\n\"copySink\":{\"preCopyScript\":\"IFEXISTS(SELECT*FROMdbo.t0_coste_cpu_adicional)TRUNCATETABLEdbo.t0_coste_cpu_adicional;\"}\n},\n{\n\"source\":{\"table\":\"t0_data_tecnica\"},\n\"destination\":{\"table\":\"t0_data_tecnica\"},\n\"copySink\":{\"preCopyScript\":\"IFEXISTS(SELECT*FROMdbo.t0_data_tecnica)TRUNCATETABLEdbo.t0_data_tecnica;\"}\n},\n{\n\"source\":{\"table\":\"t0_disponibilidad_vm\"},\n\"destination\":{\"table\":\"t0_disponibilidad_vm\"},\n\"copySink\":{\"preCopyScript\":\"IFEXISTS(SELECT*FROMdbo.t0_disponibilidad_vm)TRUNCATETABLEdbo.t0_disponibilidad_vm;\"}\n},\n{\n\"source\":{\"table\":\"t0_gestion_sla_definition\"},\n\"destination\":{\"table\":\"t0_gestion_sla_definition\"},\n\"copySink\":{\"preCopyScript\":\"IFEXISTS(SELECT*FROMdbo.t0_gestion_sla_definition)TRUNCATETABLEdbo.t0_gestion_sla_definition;\"}\n},\n{\n\"source\":{\"table\":\"t0_tipo_tarificacion_por_cliente\"},\n\"destination\":{\"table\":\"t0_tipo_tarificacion_por_cliente\"},\n\"copySink\":{\"preCopyScript\":\"IFEXISTS(SELECT*FROMdbo.t0_tipo_tarificacion_por_cliente)TRUNCATETABLEdbo.t0_tipo_tarificacion_por_cliente;\"}\n},\n{\n\"source\":{\"table\":\"t0_nombre_cliente_tecnico_vs_centreon\"},\n\"destination\":{\"table\":\"t0_nombre_cliente_tecnico_vs_centreon\"},\n\"copySink\":{\"preCopyScript\":\"IFEXISTS(SELECT*FROMdbo.t0_nombre_cliente_tecnico_vs_centreon)TRUNCATETABLEdbo.t0_nombre_cliente_tecnico_vs_centreon;\"}\n}\n]"
				}
			}
		],
		"variables": {
			"array_tablas": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}